/* styles */

.heading {
  font-size: 20px;
  font-weight: bold;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app_container {
  text-align: center;
  width: 500px;
  min-height: 300px;
  padding: 10px;
}

.article_container {
  margin: 10px 0;
  cursor: pointer;
  border-style: solid;
  padding: 10px;
  overflow-wrap: anywhere;
}

.article {
  flex-grow: 1;
  margin-left: 10px;
}

.article_completed::after {
  content: " - Completed";
  color: blue;
}